:host {
  margin: 0;
}

.tweet {
  width: 598px;
  min-height: 95px;
  padding: 15px 15px;
  border: 1px solid;
  border-color: rgb(235, 238, 240);
  border-bottom: none;
  display: flex;
  &__body {
    width: 90%;
    .user {
      font-weight: bolder;
      span {
        color: #888888;
        font-weight: 200;
      }
    }
  }

  &__img {
    width: 10%;
    img {
      border-radius: 50%;
    }
  }
}
